# Exclude all
*

# Include Project files
!.gitignore
!README.md

# Include Packs
!Peepo Plush Totem
!Peepo Plush Totem/**/*
!Skibidi Faister Totem
!Skibidi Faister Totem/**/*
!Domo Mace
!Domo Mace/**/*
!Oguri Totem
!Oguri Totem/**/*
!Basti Plush
!Basti Plush/**/*

# Exclude any zips
*.zip
